*{margin: 0;padding: 0;font-family: "微软雅黑"}
a{text-decoration: none;}
li{list-style: none;}
.line_title{margin: 20px;padding-bottom: 10px; border-bottom: 2px solid #84a8d3;}
.header{z-index: 99;position: fixed;top:0;width:100vw;height: 50px;background-color: rgba(255, 109, 171, 0.81);box-shadow: rgb(82, 69, 69) 1px 1px 10px 1px;}
.header ul{max-width: 1250px;margin:0 auto}
.header ul li{float: left;font-weight: bold;font-size: 18px;}
.header ul li a{display: block;padding:12px 20px;color: white;}
.act{
    position: absolute;
    width: 100vw; height: 100vh;
}
.act_exce{position: fixed;}
.act_two{
    position: fixed;
    background-image: url(../img/63516667_p0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin:content-box;
    background-position: center;
}
.act_two .text_box {position: absolute;left: 5vw;bottom: 5vh;}
.act_two .text_box p{font-size: 13px}
.act_three .left_list{width: 120px;position: fixed;z-index: 10;bottom: 100px;right: 5vw;}
.act_three .left_list ul li{padding: 5px 0px;opacity: 0.7;position:relative;}
.act_three .left_list ul li a{display:block;background-color: #005c77;text-align: center;padding: 5px 0px;border-radius: 4px;color: aliceblue;}
.act_four{width: 90vw;margin: 5vw;}
.act_four>*{
    margin: 5vh auto;
    max-width: 1250px;
    padding: 1vh 1vw;
    background-color:rgba(250,250,250,.8);
    border-radius: 10px;
    float:left;
    width:100%;
}
.act_four::after {
    content:'';
    clear:both;
}
.acfun {
    position: relative;
/*    height: 380px;*/
    list-style: none;
}

.bilibili{}
.bilibili::after {
    content:'';
    clear:both;
}
.bilibili .bili_new{float: left;width: 70%;}
.bilibili .bili_new .bili_new_box{margin: 0 auto;width: 95%;}
.bilibili .bili_new .bili_new_team{
    position: relative;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 160px;
    height: 148px;
    font-size: 12px;
    overflow: hidden;
    float: left;    font-size: 12px;
    margin: 0 20px 20px 0;
}
.bilibili .bili_new .bili_new_team .team_pic{
    position: relative;
    width: 160px;
    height: 100px;
    display: block;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
}
.bilibili .bili_new .bili_new_team .team_pic img{
    width: 100%;height: 100%;
}
.bilibili .bili_new .bili_new_team .team_title{
    padding-top: 8px;
    height: 40px;
    line-height: 20px;
    transition: all .2s linear;
    color: #222;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    text-align: left;
}
.bilibili .bili_new .bili_new_team .team_num{
    position: absolute;
    width: 100%;
    bottom: 2px;
    left: 13px;
    height: 20px;
    line-height: 20px;
    color: #99a2aa;
    transition: all .3s;
    font-size: 0;
}
.bilibili .bili_new .bili_new_team .team_num span{
    line-height: 12px;
    height: 14px;
    display: inline-block;
    width: 50%;
    overflow: hidden;
    font-size: 12px;
    vertical-align: bottom;
}
.bilibili .bili_new .bili_new_team .team_num span i{
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: top;
    margin-right: 5px;
}
.bilibili .bili_new .bili_new_team .team_num .team_play i{
    background-position: -282px -90px;
}
.bilibili .bili_new .bili_new_team .team_num .team_danmu i{
    background-position: -282px -218px;
}
.bilibili .comic{float: right;width: 30%;}
.comic .tab-block {
  height: 370px;
  font-size: 14px;
}
.comic .tab-block .tab-mnu {
  display: block;
  list-style: none;
}
.comic .tab-block .tab-mnu:after {
  content: '';
  display: table;
  clear: both;
}
.comic .tab-block .tab-mnu li {
  box-sizing: border-box;
  float: left;
  background-color: #bfd0d9;
  color: white;
  width: 14.28%;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
}
.comic .tab-block .tab-mnu li:not(:last-child) {
/*  border-right: 1px solid #4c607c;*/
}
.comic .tab-block .tab-mnu li:hover:not(.active) {
  background-color: #c0c7cb;
}
.comic .tab-block .tab-mnu .active {
  background-color: #fff;
  color: #596165;
  border-bottom: 1px solid #eaecec;
  cursor: default;
}
.comic .tab-block .tab-cont {
  box-shadow: rgba(0,0,0,0.1) 1px 2px 2px 2px;
  box-sizing: border-box;
  border-top: 1px solid white;
  background-color: white;
  color: #292d2f;
}
.comic .tab-block .tab-cont .tab-pane {
  padding: 20px 15px;overflow:scroll;height: 285px;overflow-x:hidden;
}
.comic .tab-block .tab-cont .tab-pane .comic_team {
    margin: 5px;
}
.comic .tab-block .tab-cont .tab-pane .comic_team p{
    float: left;padding: 15px 0 15px 20px;;
}
.comic .tab-block .tab-cont .tab-pane .comic_team .bgmcount{
    float: right;
}
.comic .tab-block .tab-cont .tab-pane .comic_team .bgmcount span{
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    color: white;
    background-color: pink;
    padding: 5px;
    border-radius: 3px;
}
.comic .tab-block .tab-cont .tab-pane .comic_team .comic_cover{
    width: 50px;height: 50px;float: left;
}
.comic .tab-block .tab-cont .tab-pane .comic_team .comic_cover img{
    width: 100%;height: 100%;
}

.acfun .acfun_area .acfun_term{
    width: 225px;
    height: 35%;
    margin: 0 0 18px 18px;
    background-color: #fff;
    border-radius: 3px;
    border-bottom: 2px solid #7CCD7C;
    box-shadow: rgba(0,0,0,0.05) 1px 1px 1px 1px;
    padding-bottom:5px;
    float: left;
}
.acfun .acfun_area .acfun_term hr{
    border: 0;
    border-top: 1px solid #eee;
}
.acfun .acfun_area .acfun_term .acfun_title{
    text-indent: 0;
    position: relative;
    width: 90%;
    margin: 10px 10px;
    height: 85px;
    line-height: auto;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    overflow: hidden;
    color: #787878;
}
.acfun .acfun_area .acfun_term .acfun_click{
    margin: 8px 0 0 18px;
    font-size: 12px;
    float: left;
    color: #999999;
    display: inline;
    width: 42%;
}
.acfun .acfun_area .acfun_term .acfun_date{
    margin:5px 0;
    font-size: 12px;
    float: right;
    color: #999999;
    display: inline;
    width: 50%;
}
.pixiv .pixiv_area{
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    -moz-column-width: 24em;
    -webkit-column-width: 24em;
    column-width: 24em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
}
.pixiv .pixiv_area .pixiv_term{
    padding: 1em;
    margin: 0 0.125em 1em;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    background: white;
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.pixiv .pixiv_area .pixiv_term img {
    width: 100%;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #cccccc;
}
.pixiv .pixiv_area .pixiv_term p{
    text-align: center;
}

.coshow{
    
}
.coshow_area{}
.coshow_term{float: left; padding: 10px;background-color: white;width: 200px; position: relative;border-radius: 5px;margin: 10px}
/*.coshow_term:hover img{-webkit-filter: blur(6px);filter: blur(6px);}*/
.coshow_term img{height:240px;width: 200px;border-radius: 5px;}
.coshow_term .coshow_term_box{width: 200px; margin: 0 auto;}
.coshow_term .coshow_term_img{display:none;width: 180px; padding: 5px 10px;position: absolute;font-size: 12px;bottom: 40px;color: black;background-color:rgba(240,240,240,0.8)}
.coshow_term .coshow_term_img .coshow_term_time{width: 110px;margin-left: 65px;}
.coshow_term:hover .coshow_term_img{display: block;}
.coshow_title{color: black;text-align: center;font-size: 14px;height: 2em;}
#canvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: -webkit-linear-gradient(#34424f, #12252f);
  background-image: linear-gradient(#34424f, #12252f);
}

#title {
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 3em;
  text-align: center;
  color: rgba(200,200,200,0.7);
  mix-blend-mode: overlay;
}
.act_exce{background-color: darkslategray;}
.act_exce form {
  position: absolute;
  padding: 30px;
  width: 200px;
  mix-blend-mode: overlay;
  font-size: 1.1em;
  z-index: 1;
}

.act_exce label {
    
  display: block;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

.act_exce input[type=range] {
  -webkit-appearance: none;
  margin-bottom: 18px;
  width: 100%;
}
.act_exce input[type=range]:focus {
  outline: none;
}
.act_exce input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: white;
}
.act_exce input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
.act_exce input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: white;
}
.act_exce input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.footer{text-align: center;font-size: 12px;color: #777;margin-bottom: 40px;}
.footer .link {position: relative;margin: 5px auto;}
.footer .link a{color: #777;padding: 0 8px;}

.icon {
    display: inline-block;
    background-image: url(../img/ico/index.png);
}
#paper_raise_btn {
  position: relative;
  display: block;
  width: 250px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transform-style: flat;
  transition: all 250ms ease-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
  border-color: #dedede;
}
#paper_raise_btn:before, #paper_raise_btn:after {
  content: "";
  position: absolute;
  z-index: -2;
  transition: all 250ms ease-out;
}
#paper_raise_btn:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#paper_raise_btn:hover {
  border: 1px solid #fff;
}
#paper_raise_btn:hover:before {
  box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

@media screen and (max-width: 1250px){
    .bilibili .bili_new{width: 60%}
    .bilibili .comic{width: 40%}    
}
@media screen and (max-width: 1024px){ 
    .bilibili .comic{width: 90%;margin:0 auto;float: none;}
    .bilibili .bili_new{width: 100%}
}
@media screen and (max-width: 640px){    /*640px显示屏样式 */
    .act_three .left_list{width: 120px;position: fixed;z-index: 10;bottom: 10vh;right: -90px;}
    .act_three .left_list li:hover{right: 80px;}
}
@media screen and (max-width: 555px){
    .acfun .acfun_area .acfun_term {width: 90%}
    .coshow_term {width: 65%;margin:5px 15%;}
}
@media screen and (max-width: 478px){    
    .bilibili .bili_new .bili_new_team {
        width: 80%;
        height: auto; 
        margin: 10px 5%;
        font-size: 14px;
    }
    .bilibili .bili_new .bili_new_team .team_pic {
         width: auto; 
         height: auto; 
    }
    .bilibili .bili_new .bili_new_team .team_num {bottom: 8px;}
}